*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%; // base size is 10 px, 10/16
    font-weight: 400;
}

a:visited, a:link{
    text-decoration: none;
    color: $color-white;
    cursor: pointer;
}

// a:focus{
//     outline: none !important;
// }

::selection{
    background-color: $color-primary;
    color: $color-white;
}