$color-black: #333;
$color-white: #fff;
$color-primary : #836950;
$color-primary-light : #D7B28B;
$color-primary-dark : #544333;
$color-light-grey1 : #ddd;
$color-light-grey2 : #aaa;

$break-huge : 1300px; 
$break-large : 1050px; 
$break-medium-large : 950px; 
$break-medium-small : 865px; 
$break-small : 675px; 
$break-tiny : 480px; 

$break-menu: 705px;