.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: $color-black;
    &__heading{
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        letter-spacing: 1px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 200;
    }
    &__container1, &__container2, &__container3{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        opacity: 1;
        transition: all 0.4s;
        animation: fade 1.2s linear;
        @media screen and (max-width: $break-large){
            width: 100%;
        }
        &--item{
            flex: 0 0 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 2rem;
            font-size: 1rem;
            font-weight: 400;
            background-color: $color-white;
            box-shadow: 0px 0px 5px 0px $color-black;
            padding: 0.4rem 1rem;
            border-radius : 0.5rem;
            & .price{
                font-size: 1.2rem;
                font-weight: 600;
                @media screen and (max-width: $break-menu){
                    font-size: 1.4rem;
                }
            }
            @media screen and (max-width: $break-menu){
                flex: 0 0 80%;
                font-size: 1.2rem;
            }
        } 
    }
}

.menu__container2, .menu__container3{
    display: none;
    opacity: 0;
} 


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

